<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Users list</title>
    </head>
    <body>
        <table border= "2">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user: ${users}">
                    <td th:text="${user.id}">id</td>
                    <td th:text="${user.name}">name</td>
                </tr>
            </tbody>
        </table>
    <a href="index.html" th:href ="@{/}">home</a>
    </body>
</html>